.calendar {
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    padding: 20px;
    width: fit-content;
    max-width: 100%;
    transition: width 0.5s;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    p {
        margin: 0;
    }

    .calendar-container {
        padding-right: 10px;

        table {
            margin-top: 30px;
            border-spacing: 35px;

            thead th {
                padding-bottom: 30px;
            }
        }
    }

    .availability {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-left: solid 1px var(--secondary-light-background);
        padding-left: 10px;
    }

    .calendar-header-controls, .calendar-header-controls .controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }


    .calendar-header-controls .controls {
        gap: 10px;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;

        & span {
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
