.project-element, .project-element .data-side .row-1 {
    display: flex;
    flex-flow: row wrap;
}

.project-element {
    justify-content: space-between;
    max-width: 100%;
    color: var(--secondary-text);
    overflow: hidden;
    cursor: pointer;

    .data-side {
        position: relative;
        flex-grow: 2;
        height: fit-content;

        &::after {
            display: block;
            position: absolute;
            bottom: 0;
            content: "";
            width: 97%;
            height: 1px;
            background-color: var(--secondary-light-background);
        }

        .row-1 {
            gap: 30px;
        }
    }

    .image-side {
        width: 400px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .project-name {
        color: var(--secondary-light-background);
        transition: color 0.3s;
    }

    &:hover .project-name {
        color: var(--secondary-text);
    }
}

@media screen and (max-width: 1155px) {
    .project-element {
        .row-1 p {
            margin: 0;
        }

        .technologies {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}
