.custom-button {
    border: none;
    outline: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--secondary-light-background);
    color: var(--secondary-text);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    img {
        width: 35px;
    }

    &:hover {
        color: var(--secondary-light-background);
        background-color: var(--secondary-text);
    }
}
